<p-toast position="top-center" key="tc"></p-toast>
<div class="regContainer">
    <div class="logo">
        <img src="../assets/Logo.jpeg" alt="Forest" width="600" height="530">
    </div>
    <div>
        <mat-card class="col-8 mx-auto text-center">
            <form [formGroup]="registrationForm" (submit)="onClickSubmit()">
                <div class="registrationForm">
                    <h1>Registration</h1>
                    <mat-form-field class="col-5 mt-3 mx-auto fieldStyle">
                        <mat-label class="labelStyle">First Name</mat-label>
                        <input class="labelStyle" type="text" matInput formControlName="firstName" />
                        <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')">
                            First Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-5 mt-3 mx-auto fieldStyle">
                        <mat-label class="labelStyle">Last Name</mat-label>
                        <input class="labelStyle" type="text" matInput formControlName="lastName" />
                        <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')">
                            Last Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-5 mb-2 mx-auto fieldStyle">
                        <mat-label class="labelStyle">Email</mat-label>
                        <input class="labelStyle" type="email" matInput formControlName="email" />
                        <mat-error
                            *ngIf=" registrationForm.get('email')?.hasError('email') && !registrationForm.get('email')?.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-5 mb-2 mx-auto fieldStyle">
                        <mat-label class="labelStyle">Password</mat-label>
                        <input class="labelStyle" type="password" matInput formControlName="password" />
                        <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-radio-group name="role" formControlName="role">
                        <label class="mx-3 labelStyle">Select Your Role: </label>
                        <mat-radio-button class="mx-2 labelStyle" value="author">Author</mat-radio-button>
                        <mat-radio-button class="mx-2 labelStyle" value="reviewer">Reviewer</mat-radio-button>
                    </mat-radio-group>
                    <button [disabled]="!registrationForm.valid" mat-flat-button color="primary" type="submit"
                        class="col-3 mt-2 mb-3"> Submit </button>
                    <div class="regLink">Already registered!
                        <a routerLink="/login"> Login </a>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 